{% import 'macros.j2' as macros -%}

This is a growing collection of hands-on demonstrations of what the k8s-tools suite can do.

{% include "demos/cluster.md.j2" %}

---------------------------------------------------------

{% include "demos/platform.md.j2" %}

---------------------------------------------------------

{% include "demos/mad-science.md.j2" %}
