{% import 'macros.j2' as macros -%}
{% set img_base =  img_base | default('../../img/') %}
{% set subtitle = "Demos" %}
{% include "header.md" %}
{%raw%}{{markdown_toc(__template__, level=4)}}{%endraw%}
{% set is_top=false%}
---------------------------------------------------------

{% include "demos/cluster.md.j2" %}

---------------------------------------------------------

{% include "demos/platform.md.j2" %}

---------------------------------------------------------

{% include "demos/mad-science.md.j2" %}
