{% import 'macros.j2' as macros -%}
{% include "header.md" %}
{% set img_base="img/" %}
--------------------------------

{{macros.img_link("img/e2e-k3d.commander.gif", "100%")}}

--------------------------------

{% include "overview.md" %}

--------------------------------

{%include "features.md" %}

--------------------------------

{%include "quickstart.md" %}

--------------------------------

{% include "integration.md" %}

--------------------------------

{% include "compose.mk.md" %}

--------------------------------

{% include "k8s.mk.md" %}

--------------------------------

{% include "contributing.md" %}

--------------------------------

{% include "limitations.md" %}

--------------------------------

