{% import 'macros.j2' as macros -%}

{% include "demos/cluster.md.j2" %}

---------------------------------------------------------

{% include "demos/platform.md.j2" %}

---------------------------------------------------------

{% include "demos/mad-science.md.j2" %}
