{% import 'macros.j2' as macros -%}

-----------------------------------------------------------------------

{% include "api/compose.mk.md" %}

----------------------------------------------------

{% include "api/k8s.mk.md" %}

