{% import 'macros.j2' as macros -%}

# API / CLI Documentation

As discussed [elsewhere](#), one major advantage of `make` is that the programmatic interface *is* the command-line interface, and vice versa.

As such, all the documentation here is doing double duty, and technically any of these targets can be used as a [prerequisite for other targets](#) or as a command-line entrypoint.  

Your milage may vary though; for example entrypoints for TUI interfaces are better thought of as "commands" and internals like [`flux.*`](#flux-api) or [`mk.*` targets](#mk-api) are normally just used in a scripting context.

----------------------------------------------------

{% include "api/compose.mk.md" %}

----------------------------------------------------

{% include "api/k8s.mk.md" %}

