{% import 'macros.j2' as macros -%}
{% include "header.md" %}

--------------------------------

{{macros.img_link("img/e2e-k3d.commander.gif", "100%")}}

--------------------------------

{%raw%}{{markdown_toc(__template__, level=3)}}{%endraw%}

--------------------------------

{% include "overview.md" %}

--------------------------------

{%include "features.md" %}

--------------------------------

{%include "quickstart.md" %}

----------------------------------------------------

{% include "integration.md" %}

----------------------------------

{% include "compose.mk.md" %}

----------------------------------

{% include "k8s.mk.md" %}

----------------------------------

## Demos 

{% include "demo-cluster.md" %}

{% include "demo-platform.md" %}

----------------------------------

{% include "limitations.md" %}

----------------------------------
