{% import 'macros.j2' as macros -%}

{#{macros.img_link("img/tui-1.gif","50%")}#}
{#{macros.hr2()}#}

{{macros.collapsed_details('Signals and Supervisors', level='h3')}}

{#{macros.img_link("img/e2e-k3d.commander.gif","50%")}#}

 {#You can think of `compose.mk` as a long list of egregious hacks that can only be redeemed by a *'but look what you can do with this!'* moment.  On that list, **signals and supervisors** is perhaps the most absurd thing of all. #}
 
 #### Motivation 
 
 Without [forking make](https://remake.readthedocs.io/en/latest/), there's no simple method to get hooks into the default way that it handles interrupts and signals.  But why would you want to anyway?  Most of the time this occurs to people [it's about cleanup](https://www.gnu.org/software/make/manual/html_node/Interrupts.html), but `compose.mk` doesn't exactly look like traditional use-cases.
 
The main reason to care is that short-circuiting make's default CLI option parsing is *really useful*.  Especially since `compose.mk` allows us to "wrap" lots of containerized tools, we want to be able to proxy arguments over to those tools without `make` being greedy about parsing everything.

The [`loadf` command](#loading-compose-file) is a typical example: the 2nd argument, a filename, must not be parsed as a Makefile target:

```bash
# Opens all shells for each service in the given file inside the TUI
./compose.mk loadf tests/docker-compose.yml
```
 
Sometimes we want individual targets to essentially be able to consume the rest of the command line.  In this case, the filename is best understood as an argument to the first target, and not a target itself.
 
The [wrapper for jb](docs/api/#jb) is another example of an invocation that requires reading the whole command-line.  And for targets created with [`compose.import`](#makecompose-bridge), the [special form with '--'] (#special-form) also requires this kind of short-circuiting.

#### Implementation

{#**The way this works is ridiculous,** An example for the mad-scientists out there?  A guy could probably hijack this for control flow! 👀This is a crazy thing to do, but for some use-cases this might be too useful to ignore.  Consider it um, [experimental](tests/Makefile.mad-science.mk).#}

{#{macros.hr2()}#}

{% set targets=bash('./compose.mk mk.namespace.filter/mk.super') %}
{% set targets=targets + bash('./compose.mk mk.namespace.filter/mk.interrupt')%}
{% set targets=targets.split('\n') %}
{%for target in targets %} {% set target=target.strip().replace('%','<arg>') %}{%if target%}
* [{{target}}](docs/api#{{target.replace('<','').replace('>','').replace('/','')}}){%endif%}{%endfor%}

</details>
